@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("GetTitleStyle", "DisplayLayout", new { name = "长江科学院内网-首页" })
@model List<inside.crsri.Utility.requestHomeArticleClass>

<script type="text/javascript">
    function clickMore(el) {

        var $eLi = $(el);
        $eLi.each(function () {

            if ($(this).attr("class") == "on") {

                let subjectId = $(this).attr("data-id");
                window.location.href = "/Article/list/" + subjectId;
            }
        });
    }
</script>
@{
    List<crsri.cn.Model.t_web_siteCfg_model> cfgList = ViewBag.siteCfg as List<crsri.cn.Model.t_web_siteCfg_model>;
    string bgcss = "index_general_bg";
    if (cfgList.FindAll(a => a.cfgName == "isNewYearBg").First().cfgVal == true)
    {
        <style type="text/css">
            body {
                background: #fff;
            }
        </style>
        <div class="index_newyear_body"></div>
        bgcss = "index_newyear_bg";
    }
}

<div class="backshadow @bgcss">
    <!-- 主体内容框 -->
    <div class="contentbox wid_main">
        <div style="width:970px;" class="l">
            <div class="top_box">
                <div class="toutiao_title l">
                    <span class="toutiao_title_span">头条新闻</span>
                </div>
                <div class="toutiao_box l ml-8 backshadow">
                    <div class="toutiao_content">
                        @{
                            List<crsri.cn.Model.t_web_siteCfgBase_model> baseCfg = ViewBag.siteCfgBase as List<crsri.cn.Model.t_web_siteCfgBase_model>;
                            string colorCss = baseCfg.FindAll(a => a.item == "toutiaoColor").First().itemVal;
                            crsri.cn.Model.t_web_article_model onTop = ViewBag.toutiao as crsri.cn.Model.t_web_article_model;
                            <span class="toutiao_content_title">
                                <a style="color:@colorCss"  href="/Article/index/@inside.crsri.Utility.helper.UrlEncry(@onTop.articleID)" target="_blank">@onTop.titletoutiao </a>
                            </span>
                        }
                    </div>
                </div>
            </div>
            @*图片新闻*@
            <div style="height:280px;">
                <div class="news_banner l">
                    @{
                        List<crsri.cn.Model.t_web_article_model> slidePic = ViewBag.picxw as List<crsri.cn.Model.t_web_article_model>;
                        <div class="hd">
                            <ul>
                                @for (int i = 1; i <= slidePic.Count; i++)
                                {
                                    <li>@Html.Raw(i.ToString())</li>
                                }
                            </ul>
                        </div>
                        <div class="bd">
                            <ul>
                                @foreach (crsri.cn.Model.t_web_article_model s in slidePic)
                                {
                                    <li>
                                        <img src="@s.defaultPicUrl" alt="@s.title" /> @*@inside.crsri.Utility.helper.sitePicPath*@
                                        <h2><a href="/Article/Index/@inside.crsri.Utility.helper.UrlEncry(@s.articleID)">@s.title</a></h2>
                                    </li>
                                }
                            </ul>

                        </div>
                    }
                    <script type="text/javascript">
                        jQuery(".news_banner").slide({
                            mainCell: ".bd ul",
                            autoPlay: true,
                            effect: "fold",
                            mouseOverStop: false,
                            delayTime: 1000,
                            interTime: 5000
                        });
                    </script>
                </div>

                <div class="slys_group l ml-10">
                    <div class="slyw_box">
                        @{
                            var slyw_Items = Model.FindAll(a => a.subjectID == "002012").First();
                            <div class="slyw_box_head">
                                <span class="lm_icon l lm_icon_news"></span>
                                <span class="lm_title l">
                                    水利要闻
                                </span>
                                <a class="lm_more" href="/Article/list/@slyw_Items.subjectID"></a>
                            </div>
                            <div class="slyw_box_content">
                                <div style="height:220px;">
                                    <ul class="mt-6 ml-10">
                                        @foreach (inside.crsri.Utility.HomeArticleClass m in slyw_Items.articleList.Take(5))
                                        {
                                            <li>
                                                <span class="slyw_list_title"><a href="/Article/index/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)" target="_blank"><span class="box_date r">[@m.releaseTime]</span>@System.Web.HttpUtility.HtmlDecode(@m.title)</a></span>
                                            </li>
                                        }
                                    </ul>

                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>

            <!-- 滚动信息公告 -->
            <div class="gonggao fix mt-10">
                <div class="txtScroll-top l fix">
                    <div class="l tit ml-25">
                        <b class="dib vm">最新消息</b>
                    </div>
                    <div class="bd l ml-10">
                        <ul class="infoList">
                            @{
                                if (ViewBag.topNews != null)
                                {
                                    List<crsri.cn.Model.t_web_article_model> items = ViewBag.topNews as List<crsri.cn.Model.t_web_article_model>
                                        ;
                                    foreach (var item in items)
                                    {

                                        <li>
                                            <a href="/Article/index/@inside.crsri.Utility.helper.UrlEncry(@item.articleID)" target="_blank">@System.Web.HttpUtility.HtmlDecode(@item.title)</a>
                                            @*<span class="date">[@item.releaseTime]</span>*@
                                        </li>
                                    }
                                }
                            }

                        </ul>
                    </div>
                </div>
                <script type="text/javascript">
                    jQuery(".txtScroll-top").slide({ titCell: ".hd ul", mainCell: ".bd ul", effect: "topLoop", autoPlay: true, vis: 1, interTime: 4000, });
                </script>
                <div style="float:right;height:40px;margin-right:10px;">
                    <input type="text" style="border: 1px solid #d4d4d4; height: 38px; width: 180px; float: left; border-radius: 20px; background-color: #fff; " />
                    <img src="/images/search.png" style="height:28px;width:28px;float:left;margin-left:-40px;margin-top:5px;" onclick="window.open('search_result.html')">
                </div>
            </div>
            <div style="width:inherit;display:inline-block;" class="mt-10">
                <div class="l">
                    <div class="tzgg_group">
                        <div class="tzgg_box">
                            <span class="lm_icon l lm_icon_notice"></span>
                            <div class="tzgg_box_head hd">

                                <div class="r" style="cursor:pointer;">
                                <img src="/images/more.png" onclick="clickMore('.tzgg_box_head ul li');">
                                </div>
                                @{
                                    var tzgg_Items = Model.FindAll(a => a.subjectID == "002001").First();
                                    var ystx_Items = Model.FindAll(a => a.subjectID == "002010").First();
                                    <ul>
                                        <li class="on" data-id="@tzgg_Items.subjectID">
                                            <span>通知公告</span>
                                        </li>
                                        <li data-id="@ystx_Items.subjectID">
                                            <span>要事提醒</span>
                                        </li>
                                    </ul>
                                }
                            </div>
                            <div class="tzgg_box_content">
                                <div class="bd">
                                    <ul>
                                        @{
                                            foreach (inside.crsri.Utility.HomeArticleClass m in tzgg_Items.articleList.Take(10))
                                            {
                                                <li>
                                                    <span class="tzgg_list_title"><a href="/Article/index/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)" target="_blank"><span class="box_date r">[@m.releaseTime]</span>@System.Web.HttpUtility.HtmlDecode(@m.title)</a></span>
                                                </li>
                                            }
                                        }
                                    </ul>
                                    <ul>
                                        @{
                                            foreach (inside.crsri.Utility.HomeArticleClass m in ystx_Items.articleList.Take(10))
                                            {
                                                <li>
                                                    <span class="tzgg_list_title"><a href="/Article/index/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)" target="_blank"><span class="box_date r">[@m.releaseTime]</span>@System.Web.HttpUtility.HtmlDecode(@m.title)</a></span>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>

                            <script type="text/javascript">
                                //jQuery(".tzgg_box_content").slide({ mainCell: ".bd ul:first", autoPlay: true, effect: "topMarquee", vis:6, interTime: 20 });//单击 ,trigger: "click"
                                jQuery(".tzgg_box").slide({ effect: "fold" });
                            </script>
                        </div>
                    </div>
                </div>

                <div class="r " style="display:block">
                    <div class="gzdt_group">
                        <div class="gzdt_box lm_bg">
                            @{

                                var gzdt_items = Model.FindAll(a => a.subjectID == "002002").First();
                                <div class="gzdt_box_head">
                                    <span class="lm_icon l lm_icon_dynamic"></span>
                                    <span class="lm_title">工作动态</span>
                                    <a class="lm_more" href="/Article/list/@gzdt_items.subjectID"></a>
                                </div>
                                <div class="gzdt_box_content">
                                    <ul>
                                        @foreach (inside.crsri.Utility.HomeArticleClass m in gzdt_items.articleList.Take(10))
                                        {
                                            <li>
                                                <span class="gzdt_list_title"><a href="/Article/index/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)" target="_blank"><span class="box_date r">[@m.releaseTime]</span>@System.Web.HttpUtility.HtmlDecode(@m.title)</a></span>
                                            </li>
                                        }

                                    </ul>

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="flash_pic">
                <!--轮播点 -->
                @*<div class="hd">
                        <ul>
                            <li class="on"></li>
                            <li class=""></li>
                        </ul>
                    </div>*@
                <div class="bd">
                    <!--通栏图片 -->
                    <ul>
                        @{
                            List<crsri.cn.Model.t_web_siteCfgPic_model> cfgPic = ViewBag.siteCfgPic as List<crsri.cn.Model.t_web_siteCfgPic_model>;
                            var longPic = cfgPic.FindAll(a => a.isShortPic == false);
                            var shortPic = cfgPic.FindAll(a => a.isShortPic == true);

                            foreach (crsri.cn.Model.t_web_siteCfgPic_model m in longPic)
                            {
                                <li style='display: list-item;'>
                                    <a href="@m.linkUrl"><img src="@m.picName" class='piclong'></a>
                                </li>
                            }


                            for (int i = 0; i < shortPic.Count() / 2; i++)
                            {
                                var sPic = shortPic.Skip(i * 2).Take(2);

                                <li>
                                    @foreach (crsri.cn.Model.t_web_siteCfgPic_model m in sPic)
                                    {
                                        <span>
                                            <a href="@m.linkUrl"><img src="@m.picName" class="picshort"></a>
                                        </span>
                                    }
                                </li>
                            }
                        }
                    </ul>
                </div>
                <!-- 切换按钮代码，不需要删除即可 -->
                @*<a class="prev" href="javascript:void(0)"></a>
                    <a class="next" href="javascript:void(0)"></a>*@

                <script type="text/javascript">
                    jQuery(".flash_pic").slide({ mainCell: ".bd ul", autoPlay: true, effect: "fade", mouseOverStop: false, interTime: 3000, });
                </script>
            </div>



            <div class="multiMedia_group">
                <div class="multiMedia_box lm_bg">
                    @{
                        var multiMedia_items = Model.FindAll(a => a.subjectID == "002004").First();//多媒体(社会经纬)
                        int t = 0;
                        <div class="multiMedia_box_head">
                            <span class="lm_icon l lm_icon_media"></span>
                            <span class="lm_title"> 多媒体报道 </span>
                            <a class="lm_more" href="/Article/list/@multiMedia_items.subjectID" target="_blank"></a>
                        </div>
                        <div class="multiMedia_box_content l">
                            @for (int k = 1; k <= 2; k++)
                            {
                                <ul>
                                    @for (int i = t; i < k * 3; i++)
                                    {
                                        <li><div class="multiMedia_list_content_title"><a href="/Article/index/@inside.crsri.Utility.helper.UrlEncry(@multiMedia_items.articleList[i].articleID)" target="_blank">@System.Web.HttpUtility.HtmlDecode(multiMedia_items.articleList[i].title)</a></div></li>
                                        t++;
                                    }
                                </ul>
                            }

                        </div>
                    }
                </div>
            </div>


            <div class="special_group mt-15">
                <div class="special_box_head">
                    <span class="sTitle">专题专栏</span>
                </div>
                <div class="special_box">
                    @{
                        List<inside.crsri.Utility.requestHomeArticleClass> special = ViewBag.specialList as List<inside.crsri.Utility.requestHomeArticleClass>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ;
                        List<string> picBG = new List<string>() { "gzbg.jpg", "nbjh.jpg", "djzc.jpg", "aqsc.jpg", "lzjs.png" };
                        <div class="special_box_child_head hd">
                            <ul>
                                @for (int i = 0; i < special.Count; i++)
                                {
                                    if (i < 1)
                                    {
                                        <li class="on" style="background-image: url('/images/@picBG[i]')">@special[i].subjectName</li>
                                    }
                                    else
                                    {
                                        <li style="background-image: url('/images/@picBG[i]')">@special[i].subjectName</li>
                                    }
                                }
                            </ul>
                        </div>
                    }

                    <div class="bd">
                        @{
                            foreach (inside.crsri.Utility.requestHomeArticleClass request in special)
                            {
                                if (false)
                                {
                                    <div>
                                        <div class="fix">
                                            <!-- 图片 -->
                                            <div class="l ml-15 mb-10 mt-15" style="width:360px;">
                                                <img src="/images/pic.jpg" class="ztPic" style=" vertical-align: middle;">
                                                <span>
                                                    <a href="news_xq.html" target="_blank" class="special_pic_tip">我局认真开展两学一做党员教育工作交流会</a>
                                                </span>
                                            </div>
                                            <!-- gq -->
                                            <div class="zt">
                                                <div class="special_box_pic">
                                                    <ul>

                                                        @foreach (inside.crsri.Utility.HomeArticleClass item in request.articleList.Take(4))
                                                        {
                                                            <li>
                                                                <div class="special_title_pic">
                                                                    <a href="/Article/index/@inside.crsri.Utility.helper.UrlEncry(@item.articleID)">
                                                                        @*<span class="special_bold_flag">【@item.keywords】</span>*@
                                                                        @System.Web.HttpUtility.HtmlDecode(@item.title)
                                                                    </a>
                                                                </div>
                                                            </li>
                                                        }

                                                    </ul>
                                                </div>
                                                <div class="r">
                                                    <a href="#">
                                                        <img src="/images/icon-more.png" class="mt-20">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <div class="fix">

                                            <div class="special_box_two mt-20">

                                                @{
                                    var speciallist = request.articleList;
                                    int v = 0;
                                    for (int k = 1; k <= 2; k++)
                                    {
                                        <ul>
                                            @for (int i = v; i < k * 4; i++)
                                            {
                                                <li>
                                                    <div class="special_title">
                                                        <a href="news_xq.html" target="_blank">
                                                            @*<span class="special_bold_flag">【@speciallist[i].keywords】</span>*@
                                                            @System.Web.HttpUtility.HtmlDecode(speciallist[i].title)
                                                        </a>
                                                    </div>
                                                </li>
                                                v++;
                                            }
                                        </ul>
                                    }
                                                }
                                            </div>

                                        </div>
                                    </div>
                                }
                            }
                        }
                        <script type="text/javascript">jQuery(".special_group").slide({ effect: "fold" });</script>
                    </div>
                </div>
            </div>

            <!--质量管理-->
            <div class="zlgl_group">
                <div class="zlgl_box">
                    <div class="zlgl_box_head">
                        <span class="zlgl_box_head_title">
                            质量管理
                        </span>
                    </div>
                    <div class="zlgl_box_content">

                        <div class="zlgl_box_list">
                            <ul>
                                <li><a href="/Article/list/005001" target="_blank"> 质量管理体系成文信息</a> </li>
                                <li><a href="/Article/list/005003" target="_blank"> 公司管理体系文件</a> </li>
                                <li><a href="/Article/list/005004" target="_blank"> 检测中心管理体系文件</a> </li>
                                <li><a href="/Article/list/005005" target="_blank"> 标准有效版本</a></li>
                                <li><a href="/Article/list/005006" target="_blank"> 软件有效版本</a></li>
                                <li><a href="/Article/list/005007" target="_blank"> 历史文档</a> </li>
                                <li><a href="/Article/list/005008" target="_blank"> 质量报告</a></li>
                                <li><a href="/Article/list/005009" target="_blank"> 学习园地</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--tab 科技交流\项目动态\单位文化-->
            <div class="tab3_group">
                <div class="tab3">
                    <span class="lm_icon l lm_icon_technology"></span>
                    <div class="tab3_head hd">
                        @{
                            List<string> tabSubjects = new List<string>();
                            tabSubjects.Add("002003"); //水利与科技
                            tabSubjects.Add("002007"); //科技交流
                            tabSubjects.Add("002008"); //项目动态
                            tabSubjects.Add("002009"); //单位文化
                            <ul>
                                @foreach (string s in tabSubjects)
                                {
                                    var data = Model.FindAll(a => a.subjectID == s).First();
                                    <li data-id="@data.subjectID" class="on"><span><a>@data.subjectName</a></span></li>
                                }
                            </ul>
                        }
                        <div class="r mr-10" style="cursor:pointer">
                            <img src="/images/more.png"  onclick="javascript: clickMore('.tab3_head ul li');">
                        </div>
                    </div>
                    <div class="bd">
                        @{
                            foreach (string s in tabSubjects)
                            {
                                bool isPic = false;
                                int n = 0;
                                var data = Model.FindAll(a => a.subjectID == s).First();
                                if (isPic)
                                {
                                    <div class="tab3_content">
                                        <div class="tab3_content_list">

                                            @for (int k = 1; k <= 2; k++)
                                            {
                                                <ul>
                                                    @for (int i = n; i < k * 5; i++)
                                                    {
                                                        <li><div class="tab3_content_list_text"><a href="/Article/index/@inside.crsri.Utility.helper.UrlEncry(@data.articleList[i].articleID)" target="_blank">@System.Web.HttpUtility.HtmlDecode(data.articleList[i].title)</a></div></li>
                                                        n++;
                                                    }
                                                </ul>
                                            }

                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="tab3_content">
                                        @{
                                            <div class="tab3_content_img l">
                                                <ul>
                                                    <li>
                                                        <img src="/images/pic2.jpg">
                                                    </li>
                                                    <li>
                                                        <img src="/images/pic2.jpg">
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="tab3_content_list_img l">

                                                @for (int k = 1; k <= 2; k++)
                                                {
                                                    <ul>
                                                        @for (int i = n; i < k * 5; i++)
                                                        {
                                                            <li><div class="tab3_content_list_text_img"><a href="/Article/index/@inside.crsri.Utility.helper.UrlEncry(@data.articleList[i].articleID)" target="_blank">@System.Web.HttpUtility.HtmlDecode(data.articleList[i].title)</a></div></li>
                                                            n++;
                                                        }
                                                    </ul>
                                                }

                                            </div>
                                        }
                                    </div>
                                }
                            }
                        }
                    </div>
                    <script type="text/javascript">jQuery(".tab3").slide({ effect: "fold" });</script>
                </div>

            </div>
            <div class="adPic_3_box mt-15">
                <ul>
                    <li>
                        <img src="/images/picAD1png.png">
                    </li>
                    <li>
                        <img src="/images/picAD2png.png">
                    </li>
                    <li>
                        <img src="/images/picAD3png.png">
                    </li>
                </ul>
            </div>
            <!--CRSRI News-->
            <div class="english_group">
                <div class="english_box_head">
                    <span class="lm_icon l lm_icon_en"></span>
                    <span class="lm_title">
                        Crsri News
                    </span>
                    <a class="lm_more" href="/EnNews/list/018003"></a>
                </div>

                <div class="english_box_content">

                    <ul>
                        @{
                            if (ViewBag.englishNews != null)
                            {
                                inside.crsri.Utility.requestHomeArticleClass items = ViewBag.englishNews as inside.crsri.Utility.requestHomeArticleClass;
                                foreach (var item in items.articleList)
                                {
                                    <li>
                                        <div class="english_list_title">
                                            <a href="/EnNews/index/@inside.crsri.Utility.helper.UrlEncry(@item.articleID)" target="_blank">@System.Web.HttpUtility.HtmlDecode(@item.title)</a>
                                        </div>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>


            </div>
            <!-- 产品与技术 -->
            <div class="proTech_group">

                <div class="proTech_box_head">
                    <span class="lm_icon l lm_icon_product"></span>
                    <span class="lm_title">产品与技术</span>
                    <a class="lm_more" href="/Article/list/"></a>
                </div>
                <div class="proTech_box_content">
                    @{

                        <div class="proTech_box_list">



                            @if (ViewBag.productTechnical != null)
                            {
                                List<inside.crsri.Utility.ProductTechnicalClass> items = ViewBag.productTechnical as List<inside.crsri.Utility.ProductTechnicalClass>
                                        ;
                                foreach (var item in items)
                                {
                                    <ul>
                                        <li>
                                            <img src="@inside.crsri.Utility.helper.sitePicPath@item.defaultPicUrl.Replace(" .. />","")" />
                                            <span class="pTechnology-title"><a href="/Article/index/@inside.crsri.Utility.helper.UrlEncry(@item.articleID)" target="_blank">@item.title</a></span>
                                        </li>
                                    </ul>
                                }
                            }


                        </div>
                    }
                </div>

            </div>
            <div class="link_more conbox fix">
                <div style="height: 105px; padding-top: 12px;">
                    <ul>
                        <li>
                            <img src="/images/link/l1.jpg">
                        </li>
                        <li>
                            <img src="/images/link/l2.jpg">
                        </li>
                        <li>
                            <img src="/images/link/l3.jpg">
                        </li>
                        <li>
                            <img src="/images/link/l4.jpg">
                        </li>
                        <li>
                            <img src="/images/link/l5.jpg">
                        </li>
                        <li>
                            <img src="/images/link/l6.jpg">
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img src="/images/link/l10.jpg">
                        </li>
                        <li>
                            <img src="/images/link/l11.jpg">
                        </li>
                        <li>
                            <img src="/images/link/l12.jpg">
                        </li>
                        <li>
                            <img src="/images/link/l13.jpg">
                        </li>
                        <li>
                            <img src="/images/link/l14.jpg">
                        </li>
                        <li>
                            <img src="/images/link/l15.jpg">
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="r ">
            <div class="l_box_group backshadow">
                <div class="l_box">
                    <!--办公信息-->
                    <div class="work_box_l">
                        <div class="work_boxl_l_head">
                            <span class="work_title">
                                <img src="/images/work_icon.png" style="width:24px;height:24px;vertical-align:middle"> 办公信息
                            </span>
                        </div>
                        <div class="work_b_line">
                            <span></span>
                        </div>
                        <div class="work_box_l_content">
                        </div>
                    </div>
                </div>
            </div>

            <!--3行切换  -->
            <div class="conbox_shadow_none v-box-tab mt-10">
                <div class="fix">
                    <div class="slideTxtBox_Tow l fix" id="leftSlide">
                        @{
                            List<string> subjectIds = new List<string>();
                            subjectIds.Add("002013");//征求意见
                            subjectIds.Add("002014");//内情通报
                            subjectIds.Add("002005");//上级文件
                            subjectIds.Add("002011");//外来函件

                            <div class="hd l slideTxtBox_Tow_bg">
                                <ul>
                                    <li><a href="javascript:void()" target="_blank"><span>征求意见</span> </a></li>
                                    <li><a href="javascript:void()" target="_blank"><span>内情通报</span></a></li>
                                    <li><a href="javascript:void()" target="_blank"><span>上级文件</span></a></li>
                                    <li><a href="javascript:void()" target="_blank"><span>外来函件</span></a></li>
                                </ul>
                            </div>
                            <div class="r box">
                                <div class="v_tab_bottom_bg"></div>
                                <div class="bd v_tab_list_content">

                                    @foreach (string s in subjectIds)
                                    {
                                        var items = Model.FindAll(a => a.subjectID == s);
                                        <ul>
                                            @foreach (inside.crsri.Utility.HomeArticleClass m in items.First().articleList.Take(7))
                                            {
                                                <li>
                                                    <div class="v_tab_list_content_title">
                                                        <a href="/Article/index/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)" target="_blank">@System.Web.HttpUtility.HtmlDecode(@m.title)</a>
                                                    </div>
                                                </li>
                                            }
                                            <li style="height: 34px; background-image: none; width: inherit;"><a class="lm_more" href="/Article/list/@s" target="_blank"></a></li>
                                        </ul>
                                    }

                                </div>

                            </div>
                        }
                        <script type="text/javascript">jQuery("#leftSlide").slide({ effect: "leftLoop", delayTime: 300 });</script>
                    </div>

                </div>
            </div>

            <!--background: linear-gradient(#F2F6F9,#F2F6F9);-->
            <div style="width: 370px;">
                <!--走进长科院-->

                <div class="bfc-zjyky backshadow">

                    <div class="zjcky_head">
                        <div style="height:28px; width: inherit; display: block; padding:10px 0px 5px 10px;">
                            <!--<span class="work_title_l_line"></span>-->
                            <img src="/images/zjcky.png" style="width:24px;height:24px;vertical-align:middle;float:left">
                            <span class="work_title">
                                走进长科院
                            </span>
                        </div>
                        <div class="work_b_line">
                            <span></span>
                        </div>
                        <div class="about_enter">
                            <ul class="fix">
                                <li>
                                    <div class="zjcky-title-box"><a href="http://www.crsri.cn/zjcky/dwjj" target="_blank"><img src="/images/icon_dwjs_w.png"><span>单位介绍</span></a></div>
                                </li>
                                <li>
                                    <div class="zjcky-title-box"><a href="http://www.crsri.cn/zjcky/leader" target=""><img src="/images/icon_yjld-w.png"><span>院级领导</span></a></div>
                                </li>
                                <li>
                                    <div class="zjcky-title-box"><a href="http://www.crsri.cn/zjcky/zzjg" target="_blank"><img src="/images/icon_zzjg_w.png"><span>组织机构</span></a></div>
                                </li>
                            </ul>
                            <ul class="fix">
                                <li>
                                    <div class="zjcky-title-box"> <a href="http://www.crsri.cn/zjcky/zj" target="_blank"><img src="/images/icon_zjjs_w.png"><span>专家教授</span></a></div>
                                </li>
                                <li>
                                    <div class="zjcky-title-box"><a href="http://www.crsri.cn/zjcky/zzzs" target="_blank"><img src="/images/icon_zyzz_w.png"><span>专业资质</span></a></div>
                                </li>
                                <li>
                                    <div class="zjcky-title-box"><a href="http://www.crsri.cn/zjcky/hjcg" target="_blank"><img src="/images/icon_hjcg_w.png"><span>获奖成果</span></a></div>
                                </li>
                            </ul>
                            <ul class="fix">
                                <li>
                                    <div class="zjcky-title-box"><a href="javascript:void();"><img src="/images/icon_gjhzjl_w.png" class="doubleText"><span>国际合作与交流</span></a></div>
                                </li>
                                <li>
                                    <div class="zjcky-title-box"><a href="http://www.crsri.cn/zjcky/kjw" target="_blank"><img src="/images/icon_kxjswyh_w.png" class="doubleText"><span>科学技术委员会</span></a></div>
                                </li>
                                <li>
                                    <div class="zjcky-title-box"><a href="http://www.crsri.cn/zjcky/wmdwjs" target="_blank"><img src="/images/icon_wmdwjs_w.png" class="doubleText"><span>文明单位建设</span></a></div>
                                </li>
                                <!--<li style="border:0px;background-color:#fff;">
                                    <img src="images/ckywx.jpg" style="width:90px;height:97px;padding-top:0px;" />
                                    <span>微信公众号</span>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <!--科研平台-->
                <div class="bfc-kypt backshadow">
                    <div class="kypt l newlist-text  kypt_head">
                        <div style="height:28px; width: inherit; display: block; padding:10px 0px 5px 10px;">
                            <!--<span class="kypt_title_l_line"></span>-->
                            <img src="/images/kypt.png" style="width:24px;height:24px;vertical-align:middle;float:left">
                            <span class="kypt_title">
                                科研平台
                            </span>
                        </div>
                        <div class="work_b_line">
                            <span></span>
                        </div>
                        <div class="bfc-kypt-box">
                            <ul>
                                <li>
                                    <div class="kyptcontent">
                                        <i></i><a>国家大坝安全工程技术研究中心</a>
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="kyptcontent">
                                        <a>江湖保护与水安全保障实际科技合作基地</a>
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="kyptcontent"> <a>水利部长江中下游河湖治理与防洪重点实验室</a></div>
                                </li>
                            </ul>
                            <ul>

                                <li>
                                    <div class="kyptcontent"><a>水利部岩土力学与工程重点实验室</a></div>
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <div class="kyptcontent">  <a>水利部水工程安全与病害防治工程技术研究中心</a></div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="kyptcontent"> <a>水利部山洪地质灾害防治工程技术研究中心</a></div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="kyptcontent"><a>水利部长江江源区水生态系统野外科学观测研究站</a></div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="kyptcontent"><a>流域水资源与生态环境科学湖北省重点实验室</a></div>
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <div class="kyptcontent"><a>长江水利委员会长江经济带保护与发展战略研究中心</a></div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="kyptcontent"><a>武汉市智慧流域工程技术研究中心</a></div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <!--院属单位-->
                <div class="bfc-ysdw backshadow">

                    <div class="ysdw l newlist-text ysdw_head">
                        <div style="height:28px; width: inherit; display: block; padding:10px 0px 5px 10px;">
                            <!--<span class="ysdw_title_l_line"></span>-->
                            <img src="/images/ysdw.png" style="width:24px;height:24px;vertical-align:middle;float:left">
                            <span class="ysdw_title">
                                院属单位
                            </span>
                        </div>
                        <div class="work_b_line">
                            <span></span>
                        </div>


                        <div class="bfc-ysdw-box">
                            <ul>
                                <li>
                                    <div class="short">
                                        <a>水力学研究所</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="short">
                                        <a>河流研究所</a>
                                    </div>

                                </li>


                            </ul>
                            <ul>
                                <li>
                                    <div class="short">

                                        <a>重庆分院</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="short">
                                        <a>岩基研究所</a>
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="short"> <a>农业水利研究所</a></div>
                                </li>
                                <li>
                                    <div class="short">
                                        <a>土工研究所</a>
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="short">  <a>水土保持研究所</a></div>
                                </li>
                                <li>
                                    <div class="short"><a>材料与结构研究所</a></div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="short"> <a>流域环境研究所</a></div>
                                </li>
                                <li>
                                    <div class="short"> <a>爆破与振动研究所</a></div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="short"><a>国际河流研究所</a></div>
                                </li>
                                <li>
                                    <div class="short"><a>科技成果推广中心</a></div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="short"><a>信息中心</a></div>
                                </li>
                                <li>
                                    <div class="short"><a>综合服务中心</a></div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="short"><a>空间信息技术应用研究所</a></div>
                                </li>
                                <li><div class="short"> <a>水资源综合利用研究所</a></div></li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="long"><a>科研基地(沌口)管理办公室</a></div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="long"><a>野外科学观测中心(生态修复技术中心)</a></div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="long"><a>工程质量检测中心(计量检定及标准化中心)</a></div>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>

                <!--科技企业-->
                <div class="bfc-kjqy backshadow">

                    <div class="kjqy l newlist-text kjqy_head">
                        <div style="height:28px; width: inherit; display: block; padding:10px 0px 5px 10px;">
                            <!--<span class="kjqy_title_l_line"></span>-->
                            <img src="/images/kjqy.png" style="width:24px;height:24px;vertical-align:middle;float:left">
                            <span class="kjqy_title">
                                科技企业
                            </span>
                        </div>
                        <div class="work_b_line">
                            <span></span>
                        </div>
                        <div class="bfc-kjqy-box">
                            <ul>
                                <li>
                                    <div class="bfc-kjqy-text"><a>武汉长科工程建设监理有限责任公司</a></div>
                                </li>
                            </ul>
                            <ul>
                                <li><div class="bfc-kjqy-text"><a>武汉长澳大地工程有限公司</a></div> </li>

                            </ul>

                            <ul>
                                <li>
                                    <div class="bfc-kjqy-text"><a>武汉长建创维环境科技有限公司</a></div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="bfc-kjqy-text"><a>武汉长江控制设备研究所有限公司</a></div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="bfc-kjqy-text"><a>武汉长江仪器自动化研究所有限公司</a></div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="bfc-kjqy-text"><a>武汉长科颐信水信息技术有限公司</a></div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="bfc-kjqy-text"><a>武汉长科创意实业发展有限公司</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>


                <!--工作园地-->
                <div class="bfc-gzyd backshadow">
                    <div class="gzyd newlist-text kjqy_head ">
                        <span class="gzyd_title">
                            工作园地
                        </span>
                    </div>
                    <div class="bfc-gzyd-box">
                        <ul>
                            <li>
                                <span> <a>举报信箱 jbxx@mail.crsri.cn</a></span>
                            </li>

                            <li><span> <a href="/Personaltax/index" target="_blank">个人所得税专栏</a></span></li>
                            <li>
                                <span> <a>长科院邮件系统</a></span>
                            </li>

                            <li>
                                <span> <a>新闻稿统计</a></span>
                            </li>

                            <li>
                                <span> <a>VI识别系统</a></span>
                            </li>

                            <li>
                                <span> <a>软件下载</a></span>
                            </li>

                            <li>
                                <span> <a>客户端VPN</a></span>
                            </li>
                            <li><span> <a>工程质量检测管理信息平台</a></span> </li>
                            <li><span> <a>支付进度通报</a></span> </li>
                            <li><span> <a>中央财政科技计划体系改革</a></span> </li>
                            <li><span> <a>长江科学院2018宣传片</a></span> </li>
                            <li><span> <a>招聘启事</a></span> </li>
                            <li><span> <a>中央财政科研项目资金管理政策</a></span> </li>
                            <li><span> <a>长江科学院科研设施与仪器管理开放共享在线服务平台</a></span> </li>
                            <li><span> <a>欢迎使用长江科学院云桌面系统</a></span> </li>
                            <li><span> <a>经济发展调研心得体会专栏</a></span> </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="fix mt-10"></div>
    </div>
</div>




@{
    if (cfgList.FindAll(a => a.cfgName == "isBlack").First().cfgVal == true)
    {
        <style type="text/css">
            html, html * {
                filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                -ms-filter: grayscale(100%);
                -o-filter: grayscale(100%);
                filter: grayscale(100%);
                filter: gray;
            }
        </style>
        <script type="text/javascript" src="/Scripts/grayscale.js"></script>
        <script type="text/javascript">

            var navStr = navigator.userAgent.toLowerCase();
            if (navStr.indexOf("msie 10.0") !== -1 || navStr.indexOf("rv:11.0") !== -1) {
                grayscale(document.body);
            }
        </script>
    }
}
