@{
    Layout = null;
}

<!DOCTYPE html>
@model List<inside.crsri.Utility.requestHomeArticleClass>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>中央财政科技计划体系改革</title>
    <link rel="stylesheet" href="/Content/themes/crsri/css/czgg/style.css" />
</head>
<body>
    <div class="banner"></div>
    <div class="main">
        <div class="head460">
            <span>综合</span>
        </div>
        <div class="list">
            <ul>
                @{
                    var zh_Items = Model.FindAll(a => a.subjectID == "027001").First();
                    foreach (inside.crsri.Utility.HomeArticleClass m in zh_Items.articleList)
                    {
                        <li>
                            <i></i><span class="title">
                                <a target="_blank" href="/czgg/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)">@System.Web.HttpUtility.HtmlDecode(@m.title)</a>
                            </span>
                            <span class="date">[@m.releaseTime]</span>
                        </li>

                    }
                }
            </ul>
        </div>

        <div class="head460">
            <span>国家自然科学基金</span>
        </div>
        <div class="list">
            <ul>
                @{
                    var zrkxjj_Items = Model.FindAll(a => a.subjectID == "027002").First();
                    foreach (inside.crsri.Utility.HomeArticleClass m in zrkxjj_Items.articleList)
                    {
                        <li>
                            <i></i><span class="title">
                                <a target="_blank" href="/czgg/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)">@System.Web.HttpUtility.HtmlDecode(@m.title)</a>
                            </span>
                            <span class="date">[@m.releaseTime]</span>
                        </li>

                    }
                }
            </ul>
        </div>


        <div class="head460">
            <span>国家重点研发计划</span>
        </div>
        <div class="list">
            <ul>
                @{
                    var zdyf_Items = Model.FindAll(a => a.subjectID == "027003").First();
                    foreach (inside.crsri.Utility.HomeArticleClass m in zdyf_Items.articleList)
                    {
                        <li>
                            <i></i><span class="title">
                                <a target="_blank" href="/czgg/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)">@System.Web.HttpUtility.HtmlDecode(@m.title)</a>
                            </span>
                            <span class="date">[@m.releaseTime]</span>
                        </li>

                    }
                }
            </ul>
        </div>

        <div class="head460">
            <span>中央级公益性科研院所基本科研业务费专项资金项目</span>
        </div>
        <div class="list">
            <ul>
                @{
                    var zxzj_Items = Model.FindAll(a => a.subjectID == "027004").First();
                    foreach (inside.crsri.Utility.HomeArticleClass m in zxzj_Items.articleList)
                    {
                <li>
                    <i></i><span class="title">
                        <a target="_blank" href="/czgg/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)">@System.Web.HttpUtility.HtmlDecode(@m.title)</a>
                    </span>
                    <span class="date">[@m.releaseTime]</span>
                </li>

                    }
                }
            </ul>
        </div>

        <div class="head460">
            <span>国家科技重大专项</span>
        </div>
        <div class="list">
            <ul>
                @{
                    var zdzx_Items = Model.FindAll(a => a.subjectID == "027005").First();
                    foreach (inside.crsri.Utility.HomeArticleClass m in zdzx_Items.articleList)
                    {
                <li>
                    <i></i><span class="title">
                        <a target="_blank" href="/czgg/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)">@System.Web.HttpUtility.HtmlDecode(@m.title)</a>
                    </span>
                    <span class="date">[@m.releaseTime]</span>
                </li>

                    }
                }
            </ul>
        </div>


        <div class="head460">
            <span>技术创新引导专项</span>
        </div>
        <div class="list">
            <ul>
                @{
                    var item6 = Model.FindAll(a => a.subjectID == "027006");
                    if (item6.Count > 0)
                    {
                        var ydzx_Items = item6.First();
                        foreach (inside.crsri.Utility.HomeArticleClass m in ydzx_Items.articleList)
                        {
                            <li>
                                <i></i><span class="title">
                                    <a target="_blank" href="/czgg/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)">@System.Web.HttpUtility.HtmlDecode(@m.title)</a>
                                </span>
                                <span class="date">[@m.releaseTime]</span>
                            </li>

                        }
                    }
                    else
                    {
                        <li>未发布内容</li>
                    }
                }
            </ul>
        </div>

        <div class="head460">
            <span>基本和人才专项</span>
        </div>
        <div class="list">
            <ul>
                @{
                    var item7 = Model.FindAll(a => a.subjectID == "027007");

                    if (item7.Count > 0)
                    {
                        var rczx_Items = item7.First();
                        foreach (inside.crsri.Utility.HomeArticleClass m in rczx_Items.articleList)
                        {
                            <li>
                                <i></i><span class="title">
                                    <a target="_blank" href="/czgg/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)">@System.Web.HttpUtility.HtmlDecode(@m.title)</a>
                                </span>
                                <span class="date">[@m.releaseTime]</span>
                            </li>

                        }
                    }
                    else
                    {
                        <li>未发布内容</li>
                    }
                }
            </ul>
        </div>


    </div>
    <div class="footer">
        <div class="footer_info">
            <span>主办:长江科学院科研计划处 财务处</span><span>支持:长江科学院信息中心</span><span>电话:82926349</span>
        </div>
    </div>
</body>
</html>
