@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("GetTitleStyle", "DisplayLayout", new
{
    name = "长江科学院-" + @System.Web.HttpUtility.HtmlDecode(@Model.title)
})
<link href="/Content/themes/crsri/css/enStyle.css" rel="stylesheet">
<style type="text/css">
    .zy_cur a {
        color: #fff;
    }

    .zy_cur span {
        color: #fff;
    }
</style>
<div class="mainContent">
    <div class="enNewsHead backshadow">
        <div class="enNewHead_icon"></div>
    </div>
    <div class="enNav_box">
        <div class="enNav">
            <div class="siteNav fix" style="margin-top:0px;">
                <div class=" l fix zy_cur">
                    @*<div class="l tit"><b class="dib vm" style="color:#fff">current：</b></div>*@
                    <span class="l w_circle"></span>
                    <p class="l">
                        <a href="/Home/">Home</a><a href="/EnNews/list/018003" id="curSubjectItem">
                            English News
                        </a><span>
                            @System.Web.HttpUtility.HtmlDecode(@Model.title)
                        </span>
                    </p>
                </div>
                <!-- 时间 -->

            </div>
        </div>
    </div>
    <div class="enContent backshadow">
        <div class="zy_contentbox">
            <!-- zy_content -->
            <div class="zy_content fix">
                <div class="zy_conbox">
                    <div class="zy_newsxq">
                        <div class="xq_tit">
                            <h1>@System.Web.HttpUtility.HtmlDecode(@Model.title)</h1>
                            <p>
                                <span>Source：@Model.releaseDep  </span>
                                <span>Author：@System.Web.HttpUtility.HtmlDecode(Model.author) </span>
                                <span>Date：@Convert.ToDateTime(@Model.releaseTime).ToString("yyyy-MM-dd")</span>
                            </p>
                        </div>
                        <div class="txt">
                            @Html.Raw(@System.Web.HttpUtility.HtmlDecode(@Model.content))
                        </div>
                    </div>
                </div>

            </div>
            <!-- zy_content end -->
        </div>
    </div>
</div>

