@{
    Layout = "~/Views/Shared/_Layout_LZJS.cshtml";
}

@model List<inside.crsri.Utility.requestHomeArticleClass>

<div class="lzjs_cnt">
    <div class="l_box">
        <div class="lzjs_flash">
            <div class="slideBox">
                @{
                    List<crsri.cn.Model.t_web_article_model> picXwItems = ViewBag.picxw as List<crsri.cn.Model.t_web_article_model>;

                    <div class="hd">
                        <ul>
                            @for (int i = 1; i <= 3; i++)
                            {
                                <li>@i</li>
                            }
                        </ul>
                    </div>
                    <div class="bd">
                        <ul>
                            @for (int i = 0; i < 3; i++)
                            {
                                <li>
                                    <a href="/Lzjs/show/@inside.crsri.Utility.helper.UrlEncry(@picXwItems[i].articleID)" target="_blank">
                                        @Html.Raw(@inside.crsri.Utility.cjkxyUrlHelper.articleOldImgUrlReplace(string.Format("<img src='{0}' alt='{1}'>", picXwItems[i].defaultPicUrl, picXwItems[i].title)))
                                        <div><span class="title">@System.Web.HttpUtility.HtmlDecode(@picXwItems[i].title)</span></div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }

            </div>
            <script type="text/javascript">
                $(".slideBox").slide({
                    effect: "fold",//left,
                    mainCell: ".bd ul",
                    autoPlay: true,
                    delayTime: 1000,
                    interTime: 5000
                });
            </script>
        </div>
        <div class="l_lzjs_list_box">
            <div class="l_lzjs_list_head">
                <h3>通知公告</h3>
                <span class="l_more"><a href="/lzjs/list/008002" target="_blank"> 更多>></a></span>
            </div>
            <div class="l_lzjs_tit_item">
                <ul>
                    @{
                        var tzgg_Items = Model.FindAll(a => a.subjectID == "008002").First();
                        foreach (inside.crsri.Utility.HomeArticleClass m in tzgg_Items.articleList.Take(8))
                        {
                            <li>
                                <span class="listItem_title_400">
                                    <a href="/lzjs/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)" target="_blank">
                                        <span class="listItem_date r">[@m.releaseTime.Substring(5, 5)]</span><span>@System.Web.HttpUtility.HtmlDecode(@m.title)</span>
                                    </a>
                                </span>
                            </li>
                        }
                    }

                </ul>
            </div>
        </div>

        <div class="l_lzjs_list_box">
            <div class="l_lzjs_list_head">
                <h3>专题专栏</h3>
                <span class="l_more"><a href="/lzjs/list/008007" target="_blank"> 更多>></a></span>
            </div>
            <div class="l_lzjs_tit_item">
                <ul>
                    @{
                        var ztzl_Items = Model.FindAll(a => a.subjectID == "008007").First();
                        foreach (inside.crsri.Utility.HomeArticleClass m in ztzl_Items.articleList.Take(8))
                        {
                            <li>
                                <span class="listItem_title_400">
                                    <a href="/lzjs/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)" target="_blank">
                                        <span class="listItem_date r">[@m.releaseTime.Substring(5, 5)]</span><span>@System.Web.HttpUtility.HtmlDecode(@m.title)</span>
                                    </a>
                                </span>
                            </li>
                        }
                    }

                </ul>
            </div>
        </div>

        <div class="l_lzjs_list_box">
            <div class="l_lzjs_list_head">
                <h3>视频教材</h3>
                <span class="l_more"><a href="/lzjs/list/008008" target="_blank"> 更多>></a></span>
            </div>
            <div class="l_lzjs_tit_item">
                <ul>
                    @{
                        var spjc_Items = Model.FindAll(a => a.subjectID == "008008").First();
                        foreach (inside.crsri.Utility.HomeArticleClass m in spjc_Items.articleList.Take(8))
                        {
                            <li>
                                <span class="listItem_title_400">
                                    <a href="/lzjs/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)" target="_blank">
                                        <span class="listItem_date r">[@m.releaseTime.Substring(5, 5)]</span><span>@System.Web.HttpUtility.HtmlDecode(@m.title)</span>
                                    </a>
                                </span>
                            </li>
                        }
                    }

                </ul>
            </div>
        </div>
    </div>

    <div class="r_box">
        <div class="lzjs_list_box">
            <div class="lzjs_list_head">
                <h3>领导讲话</h3>
                <span class="r_more"><a href="/lzjs/list/008006" target="_blank"> 更多>></a></span>
            </div>
            <div class="lzjs_tit_item">
                <ul>
                    @{
                        var ldjh_Items = Model.FindAll(a => a.subjectID == "008006").First();
                        foreach (inside.crsri.Utility.HomeArticleClass m in ldjh_Items.articleList.Take(8))
                        {
                            <li>
                                <span class="listItem_title_400">
                                    <a href="/lzjs/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)" target="_blank">
                                        <span class="listItem_date r">[@m.releaseTime.Substring(5, 5)]</span><span>@System.Web.HttpUtility.HtmlDecode(@m.title)</span>
                                    </a>
                                </span>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>

        <div class="lzjs_list_box ">
            <div class="lzjs_list_head">
                <h3>动态报道</h3>
                <span class="r_more"><a href="/lzjs/list/008003" target="_blank"> 更多>></a></span>
            </div>
            <div class="lzjs_tit_item">
                <ul>
                    @{
                        var dtbd_Items = Model.FindAll(a => a.subjectID == "008003").First();
                        foreach (inside.crsri.Utility.HomeArticleClass m in dtbd_Items.articleList.Take(8))
                        {
                            <li>
                  
                                    <a href="/lzjs/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)" target="_blank">
                                        <span class="listItem_date r">[@m.releaseTime.Substring(5, 5)]</span><span class="listItem_title_400">@System.Web.HttpUtility.HtmlDecode(@m.title)</span>
                                    </a>
                         
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="r_box">
        <div class="lzjs_list_box">
            <div class="lzjs_list_head">
                <h3>巡查和专项监督检查</h3>
                <span class="r_more"><a href="/lzjs/list/008011" target="_blank"> 更多>></a></span>
            </div>
            <div class="lzjs_tit_item">
                <ul>
                    @{
                        var xcjd_Items = Model.FindAll(a => a.subjectID == "008011").First();
                        foreach (inside.crsri.Utility.HomeArticleClass m in xcjd_Items.articleList.Take(8))
                        {
                            <li>
                  
                                    <a href="/lzjs/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)" target="_blank">
                                        <span class="listItem_date r">[@m.releaseTime.Substring(5, 5)]</span><span class="listItem_title_400">@System.Web.HttpUtility.HtmlDecode(@m.title)</span>
                                    </a>
                         
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>

        <div class="lzjs_list_box">
            <div class="lzjs_list_head">
                <h3>廉政文化</h3>
                <span class="r_more"><a href="/lzjs/list/008004" target="_blank"> 更多>></a></span>
            </div>
            <div class="lzjs_tit_item">
                <ul>
                    @{
                        var lzwh_Items = Model.FindAll(a => a.subjectID == "008004").First();
                        foreach (inside.crsri.Utility.HomeArticleClass m in lzwh_Items.articleList.Take(8))
                        {
                             <li>
                  
                                    <a href="/lzjs/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)" target="_blank">
                                        <span class="listItem_date r">[@m.releaseTime.Substring(5, 5)]</span><span class="listItem_title_400">@System.Web.HttpUtility.HtmlDecode(@m.title)</span>
                                    </a>
                         
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>

    <img src="/images/lzjs/tlpic.png" style="width:858px;height:150px;margin:auto;margin-left:20px;" />

    <div class="r_box">
        <div class="lzjs_list_box">
            <div class="lzjs_list_head">
                <h3>政策法规</h3>
                <span class="r_more"><a href="/lzjs/list/008001" target="_blank"> 更多>></a></span>
            </div>
            <div class="lzjs_tit_item">
                <ul>
                    @{
                        var zcfg_Items = Model.FindAll(a => a.subjectID == "008001").First();
                        foreach (inside.crsri.Utility.HomeArticleClass m in zcfg_Items.articleList.Take(8))
                        {
                           <li>
                  
                                    <a href="/lzjs/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)" target="_blank">
                                        <span class="listItem_date r">[@m.releaseTime.Substring(5, 5)]</span><span class="listItem_title_400">@System.Web.HttpUtility.HtmlDecode(@m.title)</span>
                                    </a>
                         
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>

        <div class="lzjs_list_box">
            <div class="lzjs_list_head">
                <h3>学习参考</h3>
                <span class="r_more"><a href="/lzjs/list/008010" target="_blank"> 更多>></a></span>
            </div>
            <div class="lzjs_tit_item">
                <ul>
                    @{
                        var xxck_Items = Model.FindAll(a => a.subjectID == "008010").First();
                        foreach (inside.crsri.Utility.HomeArticleClass m in xxck_Items.articleList.Take(8))
                        {
                            <li>
                  
                                    <a href="/lzjs/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)" target="_blank">
                                        <span class="listItem_date r">[@m.releaseTime.Substring(5, 5)]</span><span class="listItem_title_400">@System.Web.HttpUtility.HtmlDecode(@m.title)</span>
                                    </a>
                         
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>

</div>
