@{
    Layout = "~/Views/Shared/_Layout_NBJH.cshtml";
}
@model List<crsri.cn.Model.t_web_article_model>
<div class="w1200">
    <div class="sciWrap">
        <ul class="clearfloat">

            @{
                foreach (crsri.cn.Model.t_web_article_model m in Model)
                {

                    <li>
                        <div class="sciTime">
                            <h3>@inside.crsri.Utility.helper.GetNums(@System.Web.HttpUtility.HtmlDecode(@m.title))年</h3>
                        </div>
                        <div class="sciInner">
                            <h3><a href="/Nbjh/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)">@System.Web.HttpUtility.HtmlDecode(@m.title)</a></h3>
                            <span>@Convert.ToDateTime(@m.releaseTime).ToString("yyyy-MM-dd")</span>
                        </div>
                    </li>
                }
            }


        </ul>
    </div>
</div>
