@{
    Layout = "~/Views/Shared/_Layout_DJZC.cshtml";
}
@model List<inside.crsri.Utility.requestHomeArticleClass>


<div class="mainCntPage">

    <div class="con1 warp" style="padding-top:50px;">
        <div class="con1_r_j">
            <div class="slideBox">
                @{
                    List<crsri.cn.Model.t_web_article_model> picXwItems = ViewBag.picxw as List<crsri.cn.Model.t_web_article_model>;

                    <div class="hd">
                        <ul>
                            @for (int i = 1; i <= 3; i++)
                            {
                                <li>@i</li>
                            }
                        </ul>
                    </div>
                    <div class="bd">
                        <ul>
                            @for (int i = 0; i < 3; i++)
                            {
                                <li>
                                    <a href="/Djzc/show/@inside.crsri.Utility.helper.UrlEncry(@picXwItems[i].articleID)" target="_blank">
                                        @Html.Raw(@inside.crsri.Utility.cjkxyUrlHelper.articleOldImgUrlReplace(string.Format("<img src='{0}' alt='{1}'>", picXwItems[i].defaultPicUrl, picXwItems[i].title)))
                                        <div><span class="title">@System.Web.HttpUtility.HtmlDecode(@picXwItems[i].title)</span></div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }

            </div>
            <script type="text/javascript">
                $(".slideBox").slide({
                    effect: "fold",//left,
                    mainCell: ".bd ul",
                    autoPlay: true,
                    delayTime: 1000,
                    interTime: 5000
                });
            </script>
        </div>
        <div class="con1_l">
            <div class="con1_l_t">
                党建工作动态
                <div class="more"><a href="/djzc/list/033003" target="_blank">MORE>></a></div>
            </div>
            <div class="con1_l_u">
                <div class="con1_gz_u">
                    <ul>
                        @{
                            var gzdt_Items = Model.FindAll(a => a.subjectID == "033003").First();
                            foreach (inside.crsri.Utility.HomeArticleClass m in gzdt_Items.articleList.Take(8))
                            {
                                <li><a href="/Djzc/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)" target="_blank">@System.Web.HttpUtility.HtmlDecode(@m.title)</a><span>[@m.releaseTime.Substring(5, 5)]</span></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="con2 warp">
        <div class="con2_l">
            <div class="con1_l_t con2_l_t">
                院领导讲话
                <div class="more"><a href="/djzc/list/033002" target="_blank">MORE>></a></div>
            </div>
            <div class="con2_zy_u">
                <ul>
                    @{
                        var ldjh_Items = Model.FindAll(a => a.subjectID == "033002").First();
                        foreach (inside.crsri.Utility.HomeArticleClass m in ldjh_Items.articleList.Take(8))
                        {
                            <li><a href="/Djzc/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)" target="_blank">@System.Web.HttpUtility.HtmlDecode(@m.title)</a><span>[@m.releaseTime.Substring(5, 5)]</span></li>
                        }
                    }
                </ul>
            </div>
        </div>

        <div class="vline"></div>

        <div class="con1_r con2_r">
            <div class="con1_l_t con2_r_t">
                交流园地
                <div class="more"><a href="/djzc/list/033004" target="_blank">MORE>></a></div>
            </div>
            <ul>
                @{
                    var jlyd_Items = Model.FindAll(a => a.subjectID == "033004").First();
                    foreach (inside.crsri.Utility.HomeArticleClass m in jlyd_Items.articleList.Take(8))
                    {
                        <li><a href="/Djzc/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)" target="_blank">@System.Web.HttpUtility.HtmlDecode(@m.title)</a><span>[@m.releaseTime.Substring(5, 5)]</span></li>
                    }
                }
            </ul>
        </div>
    </div>

    <div class="con2 warp">
        <div class="con2_l">
            <div class="con1_l_t con2_l_t">
                党建带团建
                <div class="more"><a href="/djzc/list/033006" target="_blank">MORE>></a></div>
            </div>

            <div class="con2_zy_u">
                <ul>
                    @{
                        var djdtj_Items = Model.FindAll(a => a.subjectID == "033006").First();
                        foreach (inside.crsri.Utility.HomeArticleClass m in djdtj_Items.articleList.Take(8))
                        {
                            <li><a href="/Djzc/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)" target="_blank">@System.Web.HttpUtility.HtmlDecode(@m.title)</a><span>[@m.releaseTime.Substring(5, 5)]</span></li>
                        }
                    }
                </ul>
            </div>
        </div>

        <div class="vline"></div>

        <div class="con1_r con2_r">
            <div class="con1_l_t con2_r_t">
                学习资料
                <div class="more"><a href="/djzc/list/033005" target="_blank">MORE>></a></div>
            </div>
            <ul>
                @{
                    var xxzl_Items = Model.FindAll(a => a.subjectID == "033005").First();
                    foreach (inside.crsri.Utility.HomeArticleClass m in xxzl_Items.articleList.Take(8))
                    {
                        <li><a href="/Djzc/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)" target="_blank">@System.Web.HttpUtility.HtmlDecode(@m.title)</a><span>[@m.releaseTime.Substring(5, 5)]</span></li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="con6 warp">
        <div class="con1_l_t con6_t">
            图片集锦
            <div class="more"><a href="/a/tupianxinwen/"></a></div>
        </div>
        <div class="con6_u picgroup">
            <ul>
                @{
                    foreach (crsri.cn.Model.t_web_article_model m in picXwItems)
                    {
                        <li>
                            <a href="/Djzc/show/@inside.crsri.Utility.helper.UrlEncry(@m.articleID)" target="_blank">
                                @Html.Raw(@inside.crsri.Utility.cjkxyUrlHelper.articleOldImgUrlReplace(string.Format("<img src='{0}' alt='{1}'>",m.defaultPicUrl,m.title)))
                                <p>@System.Web.HttpUtility.HtmlDecode(@m.title)</p>
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>

</div>


