@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>中央财政科研项目资金管理政策</title>
    <link rel="stylesheet" href="/Content/themes/crsri/css/zjgl/style.css" />
</head>
<body>
    <div class="banner"></div>
    <div class="show_cnt">
        <div class="show_nav">
            <span> 中央财政科研项目资金管理政策</span><i></i><span>@ViewBag.itemTit</span><i></i><span>正文</span>
        </div>
        <div class="cnt_box">
            <div class="cnt_title">
                @System.Web.HttpUtility.HtmlDecode(Model.title)
            </div>
            <div class="cnt_info">
                <span>发布单位:@Model.releaseDep</span>
                <span>作者:@Model.author</span>
                <span>点击数:@Model.hits</span>
                <span>更新时间:@Model.updateTime</span>
            </div>
            <div class="cnt_text">
                @Html.Raw(@System.Web.HttpUtility.HtmlDecode(@Model.content))
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer_info">
            <span>主办:长江科学院财务处</span><span>支持:长江科学院信息中心</span><span>电话:26360</span>
        </div>

    </div>
</body>
</html>
